<!-- Age Verification Modal -->
<div class="modal fade" id="ageVerificationModal" tabindex="-1" role="dialog"
     aria-labelledby="ageVerificationModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="h4" class="modal-title"
                      id="ageVerificationModalLabel">{% trans "ARE YOU THE LEGAL AGE TO DRINK?" %}</span>
            </div>
            <div class="modal-body">
                <blockquote><p
                        class="lead">{% trans "To access our websites, you must be of legal purchase age in your country of access or older." %}</p>
                </blockquote>
                {% url "privacy_policy" as privacy_url %}
                <p class="lead">{% blocktrans %}By entering, you confirm you are the legal age to purchase alcohol and
                    accept our <a href="{{ privacy_url }}" target="_blank">privacy and cookie notice</a>
                    .{% endblocktrans %}</p>
                <div class="checkbox">
                    <label class="text-muted">
                        <input type="checkbox" value="" checked>
                        {% trans "Remember me on this device(unless shared)" %}
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default">{% trans "Exit" %}</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans "Enter" %}</button>
            </div>
        </div>
    </div>
</div>
