{% load i18n %}
{% load utils %}
{% load wagtailcore_tags %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <title>{{ page.seo_title }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<header>
    {% include "partials/nav.html" %}
</header>
<div class="modal fade" id="joinMessageModal" tabindex="-1" role="dialog" aria-labelledby="joinMessageModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <span class="h4 modal-title" id="joinMessageModalLabel">{% trans "Join Us" %}</span>
            </div>
            <div class="modal-body">
                <form action="{% url 'message' %}" method="PUT" role="form" data-toggle="validator">
                    <div class="form-group">
                        <label for="sender-name" class="control-label">{% trans "Name" %}</label>
                        <input name="name" type="text" class="form-control" id="sender-name">
                    </div>
                    <div class="form-group">
                        <label for="sender-email" class="control-label">{% trans "Email" %}</label>
                        <input name="email" type="email" class="form-control" id="sender-email"
                               data-error="{% trans 'The email address is invalid.' %}"
                               data-required-error="{% trans 'Please enter an email address.' %}" required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="join-message-text" class="control-label">{% trans "Message" %}</label>
                        <textarea name="text" class="form-control" id="join-message-text"
                                  data-required-error="{% trans 'Please fill out the message.' %}" required></textarea>
                        <div class="help-block with-errors"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                <button type="submit" class="btn btn-primary" disabled>{% trans "Send" %}</button>
            </div>
        </div>
    </div>
</div>
{% include "partials/age_verification_modal.html" %}
<div style="margin-top: 50px;">
    {% block content %}
    {% endblock content %}
</div>
{% include "partials/footer.html" %}
{% block extrascript %}{% endblock %}
</body>
</html>
