{% load i18n %}
{% load wagtailcore_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% get_language_info for LANGUAGE_CODE as lang %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ page.seo_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <a class="navbar-brand" href="#"><img src="/static/img/logo.png" alt="{% trans "Jingpai Logo" %}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#intro">{% trans "INTRO" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#product">{% trans "PRODUCT" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#brand">{% trans "BRAND" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">{% trans "EVENTS" %}</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-success" href="#contactus" role="button">{% trans "CONTACT US" %}</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
{% block content %}
{% endblock content %}
<footer class="footer bg-dark text-white mt-5">
    <div class="container">
        <div class="row pt-4">
            <div class="col-sm-12 col-md-4">
                <h5>{% trans "ABOUT US" %}</h5>
                <p>{% trans "Oriental Drinks Ltd is the official agency of JING Brand in United Kingdom." %}</p>
            </div>
            <div class="col-sm-12 col-md-4">
                <h5>{% trans "USEFUL LINKS" %}</h5>
                <ul class="list-unstyled">
                    <li><a href="#">About Us</a></li>
                    <li><a href="http://www.jingpai.com">www.jingpai.com</a></li>
                </ul>
            </div>
            <div class="col-sm-12 col-md" id="contactus">
                <h5>{% trans "OUR CONTACTS" %}</h5>
                <address>
                    <i class="fa fa-map-marker" aria-hidden="true"></i> 38 Portland Road, London, UK, SE25 4PF.<br>
                    <i class="fa fa-phone" aria-hidden="true"></i> Tony: (+44) 07738407055<br>
                    <i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:info@orientaldrinks.com">info@orientaldrinks.com</a>
                </address>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md order-md-3 pb-3 d-flex flex-column-reverse">
                <span>
                    <a href="#" class="ml-2"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="ml-2"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="ml-2"><i class="fa fa-linkedin"></i></a>
                    <a href="#" class="ml-2"><i class="fa fa-pinterest"></i></a>
                </span>
            </div>
            <div class="col-sm-12 col-md order-md-1 pb-3">
                <div class="dropdown dropup d-flex justify-content-end">
                    <button class="btn btn-secondary dropdown-toggle mr-auto" type="button" id="languageMenuButton"
                            data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">{{ lang.name_local }}</button>
                    <div class="dropdown-menu" aria-labelledby="languageMenuButton">
                        <a class="dropdown-item" href="{{ request.path }}?locale=en">English</a>
                        <a class="dropdown-item" href="{{ request.path }}?locale=zh-hans">简体中文</a>
                        <a class="dropdown-item" href="{{ request.path }}?locale=zh-hant">繁體中文</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md order-md-2 d-flex flex-column-reverse">
                <p>2017 © All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
